*{
    margin: 0;
    padding: 0;
}

body {
	line-height: 1;
    font-size: clamp(0.1rem, 4.5vw , 1.8rem);
    font-family: 'outfit';
    overflow-x: hidden;
}


.column{
    display: flex;
    flex-direction: column;
}


.row{
    display: flex;
    flex-direction: row;
}


.main_container{
    align-items: center;
    height: fit-content;
    transition: all 0.3s ease;

}


h2{
    font-family: 'Young Serif';
    font-size: clamp(0.1rem , 8vw , 2.8rem);
    color: hsl(14, 45%, 36%);
    font-weight: 400;
}


ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    position: relative;
    padding-left: 15%;
}

li::before{
    content: '\2022'; 
    color: hsl(14, 45%, 36%);
    position: absolute; 
    left: 0; 
    top: 0; 
    font-size: 18px; 
    line-height: 1;
    padding-left: 5%;
}


p { 
    margin: 0px;
}





                                         /* DIV 1 */

.div_1{
    width: 100vw;
    height: fit-content;
    transition: all 0.3s ease;

}


.div_1 img{
    width: 100%;
    object-fit: cover;
}


.div_90{
    width: 85vw;
    height: fit-content;
    transition: all 0.3s ease;

}






                                        /* DIV 2 */

.div_2{
    height: fit-content;
    padding-top: 10% ;
    padding-bottom:10% ;
    transition: all 0.3s ease;

}


.div_2 h1{
   font-family: 'Young Serif';
    font-weight: 400;
    font-size: clamp(0.1rem , 10vw , 3.5rem);
    padding-bottom: 5%;
}


.div_2 p{
    line-height: 125%;
    color: hsl(30, 10%, 34%);
}






                                        /* DIV 3 */

.div_3{
    height: fit-content;
    padding: 8% 5%;
    padding-bottom: 3%;
    border-radius: 15px;
    background-color: hsl(330, 100%, 98%);
    transition: all 0.3s ease;

}


.div_3 h3{
    font-size: clamp(0.1rem , 5.5vw , 2rem);
    padding-bottom: 5%;
    color: hsl(332, 51%, 32%);
    font-weight: 600;
}


.bold{
    font-weight: 600;
}


.div_3 ul li {
    color: hsl(30, 10%, 34%);
    padding-bottom: 7%;
}





                                        /* DIV 4 */

.div_4{

    height: fit-content;
    padding-top: 8%;
    padding-bottom: 5%;
    border-bottom: 0.5px rgba(128, 128, 128, 0.322) solid ;
    transition: all 0.3s ease;

}


.div_4 li { 
    padding-bottom: 5%;
    color: hsl(30, 10%, 34%);
}

.div_4 h2{
    padding-bottom: 10%;
}






                                        /* DIV 5 */


.div_5 {
    display: flex;
    flex-direction: column;
    padding-top: 8%;
    border-bottom: 0.5px rgba(128, 128, 128, 0.322) solid;
    transition: all 0.3s ease;

}

.instructions{
    padding-top: 10%;
}

.instr{
    display: flex;
    flex-direction: row;
    margin-bottom: 5%;
}

.number{
    padding-right: 5%;
    color: hsl(14, 45%, 36%);
    font-weight: 600;
}

.div_5 p{
    color: hsl(30, 10%, 34%);
}

.instr p{
    line-height: 120%;
}

                                        /* DIV 6 */


.div_6{
    height: fit-content;    
    transition: all 0.3s ease;

}

.div_6 h2{
    font-size: clamp(0.1rem , 8vw , 4rem);
    padding-top: 7%;
    padding-bottom: 5%;
}


.div_6 p{
    color:  hsl(30, 10%, 34%);
    line-height: 125%;
    padding: 5% 0%;
}


.value{
    width: 100%;
    justify-content: space-around;
    border-bottom: 0.5px rgba(128, 128, 128, 0.336) solid;
   
}

.value_name{
    width: 50%;
    text-align: center;
}


.div_6 .value .value_number  {
    color:  hsl(14, 45%, 36%);
    font-weight: 600;
    width: 50%;
}

.last_value{
    border-bottom: none;
}






































@media screen and (min-width:585px) {

html{
    width: 100vw;
    height: 100vh;
}


body{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:rgba(224, 209, 186, 0.445);
    font-size: clamp(0.1rem, 5vw , 0.8rem);
}


h2{
    font-size: clamp(0.1rem , 8vw , 1.5rem);
    font-weight: 400;
}


ul {
    list-style: none;
    padding: 0;
    margin: 0;
}


li {
    position: relative;
    padding-left: 5%;
}


li::before{
    content: '\2022'; 
    position: absolute; 
    left: 0; 
    top: 0; 
    font-size: 18px; 
    line-height: 1;
    padding-left: 0%;
}


.main_container{
    width: 60%;
    border-radius: 20px;
    padding-top: clamp(0.1rem, 5vw , 1.9rem);
    padding-bottom: clamp(0.1rem, 5vw , 1.9rem);
    margin-top: 10%;
    margin-bottom:10% ;
    display: flex;
	justify-content: center;
	align-items: center;
    transition: all 0.3s ease;
    background-color: #fff;
    max-width: 614px;
}    

                                         /* DIV 1 */
.div_1{
    width: 87%;
    transition: all 0.3s ease;
}


.div_1 img{
    border-radius: 20px;
}


.div_90{
    width: 87%;
    transition: all 0.3s ease;
}

.div_90 img{
    border-radius: 20px;
}

                                        /* DIV 2  */

.div_2{
    transition: all 0.3s ease;
    padding: 5% 0%;
}

.div_2 h1{
    font-size: clamp(0.1rem , 3.2vw , 2rem);
}

.div_2 p {
    font-size: 0.8rem;
}

                                        /* DIV 3 */                


.div_3{
    padding: 5% 5%;
    padding-bottom: 3%;
    border-radius: 15px;
    transition: all 0.3s ease;
}


.div_3 h3{
    font-size: clamp(0.1rem , 5.5vw , 1rem);
    padding-bottom: 3%;
    font-weight: 600;
}




.div_3 ul li {
    padding-bottom: 2%;
}

                                    /* DIV 4 */
.div_4{
    transition: all 0.3s ease;
    padding-top: 8%;
    padding-bottom: 5%;
}


.div_4 li { 
    padding-bottom: 3%;
}

.div_4 h2{
    padding-bottom: 5%;
}


                                /* DIV 5 */

.div_5{
    transition: all 0.3s ease;
    padding-bottom: 8% ;
    padding-top: 5%;
}

.instructions{
    padding-top: 5%;
}

.instr{
    display: flex;
    flex-direction: row;
    margin-bottom: 2%;
}

.instr p{
    line-height: 120%;
}

.number{
    padding-right: 5%;
    font-weight: 600;
}





                                /* DIV 6 */

.div_6{
    transition: all 0.3s ease;
}


.div_6 h2{
    font-size: clamp(0.1rem , 8vw , 1.5rem);
    padding-top: 7%;
    padding-bottom: 2%;
}


.div_6 p{
    line-height: 125%;
    padding-top: 2%;
    padding-bottom: 7%;
}


.value{
    width: 100%;
    border-bottom: 0.5px rgba(128, 128, 128, 0.336) solid;
}


.value p{
    padding: 2% 2%;
}


.value_name {
    text-align: start;
}


.last_value{
    border-bottom: none;
}



}


